# Use of ðžð±ð©ð«() in #pyspark âœï¸

ð„ð±ð©ð«():-
====
â˜‘ï¸ It is a SQL function in pyspark to ðžð±ðžðœð®ð­ðž ð’ðð‹-ð¥ð¢ð¤ðž ðžð±ð©ð«ðžð¬ð¬ð¢ð¨ð§ð¬.

ðŸ”µ ð’ð²ð§ð­ðšð±:- ðžð±ð©ð«(ð¬ð­ð«)

â˜‘ï¸ It will take SQL expression as a ð¬ð­ð«ð¢ð§ð  ðšð«ð ð®ð¦ðžð§ð­ and performs the operations within the expression.

â˜‘ï¸ It allows using SQL-like functions that are not present in PySpark Column type & pyspark.sql.functions API. Ex:- ð‚ð€ð’ð„ ð–ð‡ð„ð

â˜‘ï¸ We are allowed to use ðƒðšð­ðšð…ð«ðšð¦ðž ðœð¨ð¥ð®ð¦ð§ð¬ in the expression.


Follow for more:- 
https://www.linkedin.com/in/kishanyadav/


############......  H@@py Learning!!! .......##########

In [ ]:
# install pyspark in google colab
!pip install pyspark

In [2]:
# importing neccessary libs
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# creating session
spark = SparkSession.builder.appName("practice").getOrCreate()

# create dataframe
data = [("Prashant","Banglore",25, 58, "2022-08-01", 1), ("Ankit","Banglore",26, 54, "2021-05-02", 2),
        ("Ramakant","Gurugram",24, 60, "2022-06-02", 3), ("Brijesh","Gazipur", 26, 75, "2022-07-04", 4),
        ("Devendra","Gurugram", 27, 62, "2022-04-03", 5), ("Ajay","Chandigarh", 25, 72, "2022-02-01", 6)]
columns= ["friends_name","location", "age", "weight", "meetup_date", "offset"]
df_friends = spark.createDataFrame(data = data, schema = columns)
df_friends.show()

# Concatenating One or More Columns
# concate friends name, age and location columns uausig expr()
df_concat = df_friends.withColumn("name-age-location", expr("friends_name|| '-'|| age || '-' || location"))
df_concat.show()

# Add a New Column Based on Conditions
# check if exercise needed based on weight
# if weight is more or equal to 60 -- Yes
# if weight is less than 55 -- No
# else "Enjoy"
df_condition = df_friends.withColumn("Exercise_Need", expr("CASE WHEN weight >= 60  THEN 'Yes' " + "WHEN  weight < 55  THEN 'No' ELSE 'Enjoy' END"))
df_condition.show()

# Creating a new column using the existing column value inside the expression
# let increment the meetup month by number of offset
df_meetup = df_friends.withColumn("new_meetup_date", expr("add_months(meetup_date,offset)"))
df_meetup.show()

+------------+----------+---+------+-----------+------+
|friends_name|  location|age|weight|meetup_date|offset|
+------------+----------+---+------+-----------+------+
|    Prashant|  Banglore| 25|    58| 2022-08-01|     1|
|       Ankit|  Banglore| 26|    54| 2021-05-02|     2|
|    Ramakant|  Gurugram| 24|    60| 2022-06-02|     3|
|     Brijesh|   Gazipur| 26|    75| 2022-07-04|     4|
|    Devendra|  Gurugram| 27|    62| 2022-04-03|     5|
|        Ajay|Chandigarh| 25|    72| 2022-02-01|     6|
+------------+----------+---+------+-----------+------+

+------------+----------+---+------+-----------+------+--------------------+
|friends_name|  location|age|weight|meetup_date|offset|   name-age-location|
+------------+----------+---+------+-----------+------+--------------------+
|    Prashant|  Banglore| 25|    58| 2022-08-01|     1|Prashant-25-Banglore|
|       Ankit|  Banglore| 26|    54| 2021-05-02|     2|   Ankit-26-Banglore|
|    Ramakant|  Gurugram| 24|    60| 2022-06-02|     3|Ramakant-24-Gurugram|
|     Brijesh|   Gazipur| 26|    75| 2022-07-04|     4|  Brijesh-26-Gazipur|
|    Devendra|  Gurugram| 27|    62| 2022-04-03|     5|Devendra-27-Gurugram|
|        Ajay|Chandigarh| 25|    72| 2022-02-01|     6|  Ajay-25-Chandigarh|
+------------+----------+---+------+-----------+------+--------------------+

+------------+----------+---+------+-----------+------+-------------+
|friends_name|  location|age|weight|meetup_date|offset|Exercise_Need|
+------------+----------+---+------+-----------+------+-------------+
|    Prashant|  Banglore| 25|    58| 2022-08-01|     1|        Enjoy|
|       Ankit|  Banglore| 26|    54| 2021-05-02|     2|           No|
|    Ramakant|  Gurugram| 24|    60| 2022-06-02|     3|          Yes|
|     Brijesh|   Gazipur| 26|    75| 2022-07-04|     4|          Yes|
|    Devendra|  Gurugram| 27|    62| 2022-04-03|     5|          Yes|
|        Ajay|Chandigarh| 25|    72| 2022-02-01|     6|          Yes|
+------------+----------+---+------+-----------+------+-------------+

+------------+----------+---+------+-----------+------+---------------+
|friends_name|  location|age|weight|meetup_date|offset|new_meetup_date|
+------------+----------+---+------+-----------+------+---------------+
|    Prashant|  Banglore| 25|    58| 2022-08-01|     1|     2022-09-01|
|       Ankit|  Banglore| 26|    54| 2021-05-02|     2|     2021-07-02|
|    Ramakant|  Gurugram| 24|    60| 2022-06-02|     3|     2022-09-02|
|     Brijesh|   Gazipur| 26|    75| 2022-07-04|     4|     2022-11-04|
|    Devendra|  Gurugram| 27|    62| 2022-04-03|     5|     2022-09-03|
|        Ajay|Chandigarh| 25|    72| 2022-02-01|     6|     2022-08-01|
+------------+----------+---+------+-----------+------+---------------+