# Stratified Sampling in #pyspark  



â˜‘ï¸ ğ¬ğšğ¦ğ©ğ¥ğğğ²():-

===========

In this method before sampling, the elements in the dataset are divided into homogeneous subgroups called strata, and the representative of each subgroup is chosen during sampling based on a defined percentage.



ğŸ”µ Syntax:- ğ¬ğšğ¦ğ©ğ¥ğğğ²(ğœğ¨ğ¥, ğŸğ«ğšğœğ­ğ¢ğ¨ğ§ğ¬, ğ¬ğğğ=ğğ¨ğ§ğ)



â˜‘ï¸ ğ€ğ«ğ ğ®ğ¦ğğ§ğ­ğ¬:-

===========

ğŸ”µ ğœğ¨ğ¥:-

======

ğŸ‘‰ The column on which the subgrouping will happen.



ğŸ”µ fractions:-

=========

ğŸ‘‰ The percentage contribution by each of the column values during the sampling.



ğŸ‘‰ For example, Suppose we have a fuels column, and we perform sampling using it. We have three distinct values ("Petrol", "Diesel", "LPG") in this column, so the values of the fractions look like this:-

fractions={"Petrol": 0.1, "Diesel": 0.2, "LPG":0,1}.



ğŸ‘‰ If a fraction for a particular value is not defined, it's become 0.



ğŸ”µ ğ¬ğğğ:-

=======

ğŸ‘‰ To generate the same sets of sample records each time you perform sampling, you have to define the seed value.



ğŸ‘‰ When you defined the ğ¬ğğğ ğ¯ğšğ¥ğ®ğ ğ²ğ¨ğ® ğ°ğ¢ğ¥ğ¥ ğ ğğ­ ğ­ğ¡ğ ğ¬ğšğ¦ğ ğ¬ğğ­ğ¬ ğ¨ğŸ ğ«ğğœğ¨ğ«ğğ¬ ğğšğœğ¡ ğ­ğ¢ğ¦ğ you perform sampling.


Follow for more:- https://www.linkedin.com/in/kishanyadav/

Keep Learning!!

In [6]:
# install pyspark in google colab
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [8]:
# importing neccessary libs
from pyspark.sql import SparkSession

# creating session
spark = SparkSession.builder.appName("practice").getOrCreate()

# # create dataframe
df_car = spark.read.format("csv").option("header", True).option("inferschema", True).load("/content/car_datset.csv")
df_car.show(5)

+--------------------+----+-------------+---------+------+-----------+------------+------------+
|                name|year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|
+--------------------+----+-------------+---------+------+-----------+------------+------------+
|       Maruti 800 AC|2007|        60000|    70000|Petrol| Individual|      Manual| First Owner|
|Maruti Wagon R LX...|2007|       135000|    50000|Petrol| Individual|      Manual| First Owner|
|Hyundai Verna 1.6 SX|2012|       600000|   100000|Diesel| Individual|      Manual| First Owner|
|Datsun RediGO T O...|2017|       250000|    46000|Petrol| Individual|      Manual| First Owner|
|Honda Amaze VX i-...|2014|       450000|   141000|Diesel| Individual|      Manual|Second Owner|
+--------------------+----+-------------+---------+------+-----------+------------+------------+
only showing top 5 rows

In [13]:
# check the number of records
df_car.count()

100

Our dataFrame has `100` records.

In [10]:
# check the nuber of unique val in fuel column
df_car.groupBy("fuel").count().orderBy("fuel").show()

+------+-----+
|  fuel|count|
+------+-----+
|   CNG|    2|
|Diesel|   47|
|Petrol|   51|
+------+-----+

Fuel column has 3 values:-

CNG:- 2

Diesel:- 47

Petrol:- 51

In [22]:
# now perform sampling on fuel column
df_sample_data = df_car.sampleBy("fuel", fractions={"Petrol":0.3, "Diesel":0.2}, seed=40)
df_sample_data.show(10)

+--------------------+----+-------------+---------+------+-----------+------------+------------+
|                name|year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|
+--------------------+----+-------------+---------+------+-----------+------------+------------+
|Maruti Wagon R LX...|2007|       135000|    50000|Petrol| Individual|      Manual| First Owner|
|Honda Amaze VX i-...|2014|       450000|   141000|Diesel| Individual|      Manual|Second Owner|
|Hyundai Xcent 1.2...|2016|       550000|    25000|Petrol| Individual|      Manual| First Owner|
|Tata Indigo Grand...|2014|       240000|    60000|Petrol| Individual|      Manual|Second Owner|
|Hyundai Creta 1.6...|2015|       850000|    25000|Petrol| Individual|      Manual| First Owner|
|Maruti Wagon R LX...|2007|       135000|    50000|Petrol| Individual|      Manual| First Owner|
|Honda Amaze VX i-...|2014|       450000|   141000|Diesel| Individual|      Manual|Second Owner|
|Toyota Corolla Al...|2018|      1650000|    25000|Petrol|     Dealer|   Automatic| First Owner|
|Maruti Ciaz VXi Plus|2015|       585000|    24000|Petrol|     Dealer|      Manual| First Owner|
|Mercedes-Benz New...|2013|      1425000|    59000|Diesel|     Dealer|   Automatic| First Owner|
+--------------------+----+-------------+---------+------+-----------+------------+------------+
only showing top 10 rows

In [21]:
# number of records for each fuel types
df_sample_data.groupBy("fuel").count().orderBy("fuel").show()

+------+-----+
|  fuel|count|
+------+-----+
|Diesel|   12|
|Petrol|   16|
+------+-----+

CNG is not defined in fractions so it display no record for it.

In [23]:
# total number of records we get
df_sample_data.count()

28

Total records obtained in the sample is `28`