

# Sampling in #pyspark âœï¸

### ğ’ğ¢ğ¦ğ©ğ¥ğ ğ‘ğšğ§ğğ¨ğ¦ ğ’ğšğ¦ğ©ğ¥ğ¢ğ§ğ  ğ¨ğ« ğ¬ğšğ¦ğ©ğ¥ğ():-

=========================

â˜‘ï¸ In Simple random sampling, we pick records randomly and every records has an equal chance to get picked.



ğŸ”µ Syntax:- sample(withReplacement, fraction, seed=None)



â˜‘ï¸ Arguments:-

==============



ğŸ”µ ğŸğ«ğšğœğ­ğ¢ğ¨ğ§:- 

=============

ğŸ‘‰It takes values in a ğ«ğšğ§ğ ğ ğ¨ğŸ [ğŸ.ğŸ,ğŸ.ğŸ] and it's ğ¦ğšğ§ğğšğ­ğ¨ğ«ğ² ğ­ğ¨ ğ©ğ«ğ¨ğ¯ğ¢ğğ.



 ğŸ‘‰It defines fractions of ğ«ğğœğ¨ğ«ğğ¬ ğ²ğ¨ğ® ğ°ğšğ§ğ­ ğ­ğ¨ ğ¬ğšğ¦ğ©ğ¥ğ ğŸğ«ğ¨ğ¦ ğ²ğ¨ğ®ğ« ğğšğ­ğšğ…ğ«ğšğ¦ğ.



ğŸ‘‰For example, if you define it as 0.2 then it means you want to   sample approximately 20% of records from your dataFrame.



ğŸ‘‰The sample function doesnâ€™t return the exact fractions of records specified. For example, if you have 100 records in your dataFrame, and you define 0.2 as your fraction, it's doesn't provide a guarantee to give you exact 20 records.



ğŸ”µğ’ğğğ:-

=========

ğŸ‘‰ The sample() provides different sets of records each time.



ğŸ‘‰ To generate the same sets of sample records each time you do sampling, you have to define the seed value. 



ğŸ‘‰ When you defined the ğ¬ğğğ ğ¯ğšğ¥ğ®ğ ğ²ğ¨ğ® ğ°ğ¢ğ¥ğ¥ ğ ğğ­ ğ­ğ¡ğ ğ¬ğšğ¦ğ ğ¬ğğ­ğ¬ ğ¨ğŸ ğ«ğğœğ¨ğ«ğğ¬ ğğšğœğ¡ ğ­ğ¢ğ¦ğ you run the sample function. 



ğŸ”µ ğ°ğ¢ğ­ğ¡ğ‘ğğ©ğ¥ğšğœğğ¦ğğ§ğ­:-

=====================

ğŸ‘‰ If you set it to ğ“ğ«ğ®ğ, ğ²ğ¨ğ® ğ°ğ¢ğ¥ğ¥ ğ ğğ­ ğ«ğğ©ğğšğ­ğğ ğ¨ğ« ğğ®ğ©ğ¥ğ¢ğœğšğ­ğ ğ«ğğœğ¨ğ«ğğ¬ ğ¢ğ§ ğ²ğ¨ğ®ğ« ğ¬ğšğ¦ğ©ğ¥ğ ğğšğ­ğš along with other records.



ğŸ‘‰ If ğ…ğšğ¥ğ¬ğ or nothing specifies, and it's also the default value, ğ²ğ¨ğ® ğ°ğ¢ğ¥ğ¥ ğ ğğ­ ğ®ğ§ğ¢ğªğ®ğ ğ«ğğœğ¨ğ«ğğ¬ ğ¢ğ§ ğ²ğ¨ğ®ğ« ğ¬ğšğ¦ğ©ğ¥ğ ğğšğ­ğš.



===============================================

Dataset link:- 



=================================================

Follow for more:- 
https://www.linkedin.com/in/kishanyadav/


############......  Keep Learning!!! .......##########

In [ ]:
# install pyspark in google colab
!pip install pyspark

In [49]:
# importing neccessary libs
from pyspark.sql import SparkSession

# creating session
spark = SparkSession.builder.appName("practice").getOrCreate()

# # create dataframe
df_survey = spark.read.format("csv").option("header", True).option("inferschema", True).load("/content/dataset_for_sampling.csv")
df_survey.show(5)

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2011.06|     80078|     R|Number|
|     BDCQ.SEA1AA|2011.09|     78324|     R|Number|
|     BDCQ.SEA1AA|2011.12|     85850|     R|Number|
|     BDCQ.SEA1AA|2012.03|     90743|     R|Number|
|     BDCQ.SEA1AA|2012.06|     81780|     R|Number|
+----------------+-------+----------+------+------+
only showing top 5 rows

In [50]:
# check the number of records
df_survey.count()

100

Our dataFrame has `100` records.

# Example - 01 || passing fraction value ||

In [57]:
# providing fraction value only
df_sample_1 = df_survey.sample(fraction=0.2)
df_sample_1.show()

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2011.06|     80078|     R|Number|
|     BDCQ.SEA1AA|2012.09|     79261|     R|Number|
|     BDCQ.SEA1AA|2015.06|     87987|     R|Number|
|     BDCQ.SEA1AA|2016.06|     88716|     R|Number|
|     BDCQ.SEA1AA|2017.06|     90510|     R|Number|
|     BDCQ.SEA1AA|2019.03|    102031|     R|Number|
|     BDCQ.SEA1AA|2021.03|    101342|     R|Number|
|     BDCQ.SEA1AS|2012.12|     84320|     R|Number|
|     BDCQ.SEA1AS|2013.06|     85614|     R|Number|
|     BDCQ.SEA1AS|2017.06|     94411|     R|Number|
|     BDCQ.SEA1AS|2017.12|     94206|     R|Number|
|     BDCQ.SEA1AS|2019.09|     94880|     R|Number|
|     BDCQ.SEA1AS|2021.03|     96418|     R|Number|
+----------------+-------+----------+------+------+

In [58]:
# check the number of records
df_sample_1.count()

13

Here you can see we have `100` records in our dataFrame and we defined `fraction=0.2` to get 20% of records i.e. = `20` , records but we gets less number of records i.e. `13`. It's give approx records.

# Example - 02 || passing seed  value ||

In [59]:
# providing fraction value and seed value together
# for this example we are using above sample dataframe
# so that we can compare the results easily
df_sample_2 = df_sample_1.sample(fraction=0.2, seed=34)
df_sample_3 = df_sample_1.sample(fraction=0.2, seed=34)
df_sample_4 = df_sample_1.sample(fraction=0.2, seed=40)

In [60]:
df_sample_2.show()

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2015.06|     87987|     R|Number|
|     BDCQ.SEA1AA|2016.06|     88716|     R|Number|
|     BDCQ.SEA1AA|2021.03|    101342|     R|Number|
+----------------+-------+----------+------+------+

In [61]:
df_sample_3.show()

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2015.06|     87987|     R|Number|
|     BDCQ.SEA1AA|2016.06|     88716|     R|Number|
|     BDCQ.SEA1AA|2021.03|    101342|     R|Number|
+----------------+-------+----------+------+------+

We can see that the records for both sample `(df_sample_2 and df_sample_3)` are same. We have given the seed value of `34` for both sample. Now let see the records of df_sample_4.

In [62]:
# this sample contain 4 records and we have given different seed values for this sample. i.e. 40
df_sample_4.show()

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2012.09|     79261|     R|Number|
|     BDCQ.SEA1AA|2017.06|     90510|     R|Number|
|     BDCQ.SEA1AS|2012.12|     84320|     R|Number|
+----------------+-------+----------+------+------+

# Example-03 || passing withReplacement argument value ||

In [65]:
# now we pass all three arguments values in sample
# we are using df_sample_1 dataFrame
df_sample_5 = df_sample_1.sample(withReplacement=True, fraction=0.4, seed=35)

In [66]:
df_sample_5.show()

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2015.06|     87987|     R|Number|
|     BDCQ.SEA1AA|2016.06|     88716|     R|Number|
|     BDCQ.SEA1AA|2019.03|    102031|     R|Number|
|     BDCQ.SEA1AS|2012.12|     84320|     R|Number|
|     BDCQ.SEA1AS|2017.06|     94411|     R|Number|
|     BDCQ.SEA1AS|2017.06|     94411|     R|Number|
|     BDCQ.SEA1AS|2019.09|     94880|     R|Number|
|     BDCQ.SEA1AS|2019.09|     94880|     R|Number|
+----------------+-------+----------+------+------+

When we set `withReplacement=True` we will get duplicated records in the output.

In [67]:
# now we pass all three arguments values in sample
# we are using df_sample_1 dataFrame
df_sample_6 = df_sample_1.sample(withReplacement=False, fraction=0.3, seed=35)

In [68]:
df_sample_6.show()

+----------------+-------+----------+------+------+
|Series_reference| Period|Data_value|STATUS| UNITS|
+----------------+-------+----------+------+------+
|     BDCQ.SEA1AA|2011.06|     80078|     R|Number|
|     BDCQ.SEA1AA|2012.09|     79261|     R|Number|
|     BDCQ.SEA1AA|2015.06|     87987|     R|Number|
|     BDCQ.SEA1AS|2021.03|     96418|     R|Number|
+----------------+-------+----------+------+------+

When we set `withReplacement=False` it gives unique records in the output.