# ğ‘ğğ©ğğšğ­() function in #pyspark âœï¸

ğ‘ğğ©ğğšğ­():-
======
â˜‘ï¸ In pyspark to repeat the column values, we will be using the repeat() function. 

â˜‘ï¸ ğ«ğğ©ğğšğ­(ğ¬ğ­ğ«, ğ§) - Returns the string which repeats the given string value ğ§ times.

=================================================

Follow for more:- 
https://www.linkedin.com/in/kishanyadav/


############......  H@@py Learning!!! .......##########

In [ ]:
# install pyspark in google colab
!pip install pyspark

In [4]:
# importing neccessary libs
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, repeat

# creating session
spark = SparkSession.builder.appName("practice").getOrCreate()

# # create dataframe
data = [("Prashant",25, 80), ("Ankit",26, 90),("Ramakant", 24, 85)]
columns= ["student_name", "student_age", "student_score"]
df_students = spark.createDataFrame(data = data, schema = columns)
df_students.show()

# repeating the column (student_name) twice and saving results in new column
df_repeated = df_students.withColumn("student_name_repeated",(expr("repeat(student_name, 2)")))
df_repeated.show()

+------------+-----------+-------------+
|student_name|student_age|student_score|
+------------+-----------+-------------+
|    Prashant|         25|           80|
|       Ankit|         26|           90|
|    Ramakant|         24|           85|
+------------+-----------+-------------+

+------------+-----------+-------------+---------------------+
|student_name|student_age|student_score|student_name_repeated|
+------------+-----------+-------------+---------------------+
|    Prashant|         25|           80|     PrashantPrashant|
|       Ankit|         26|           90|           AnkitAnkit|
|    Ramakant|         24|           85|     RamakantRamakant|
+------------+-----------+-------------+---------------------+